
.ListInputWrapper{
  width: 100%;
  max-width: 700px;
}
.listInput{
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
  width: 100%;
  font-size: 1.5em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
    background: transparent;
  background: #8a3b33;

}



.listInput:focus{
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);

}

.autoSuggest{
  color: white;
  padding: 10px 0px 10px 0px;
  width: 100%;
  text-align: center;
}
.listItemText{
  margin-left: 10px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.listItemText:hover{
  cursor: context-menu;
}


.listCleanUp
{
  height: 3em;
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5em;
  cursor: pointer;
  color: white;
}


@media only screen
and (min-width : 33em)
and (max-width : 812px){

.listCleanUp{
  display: none;
}
}
