.listTitleWrapper{
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listTitle{
  font-size: 2em;
  color: white;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.listSubmit{
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  cursor: pointer;
  color: white;
}
.TitleInput{
  text-align: left;
  font-size: 2em;
  margin: 0px;
  padding: 0px!important;
  width: 100%;
  box-shadow: 0;
}
