@import '../../AppVariables.scss';

.listTitleWrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 700px;
  margin-bottom: 10px;
}

.listTitle{
  font-size: 2em;
  color: white;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.TitleInput{
  text-align: left;
  font-size: 2em;
  color: white;
  outline: none;
  margin: 0px;
  padding: 0px!important;
  width: 100%;
  box-shadow: 0;
}
