@import url('https://fonts.googleapis.com/css?family=Roboto');
::-webkit-scrollbar {
    display: none;
}
.app {
  position: absolute;
  padding:0px;
  margin:0px;
  background: #7B2D26;
  color: black;
  width: 100%;
  height:100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;


}
.input-header{
  top:0%;
  left:0%;
  width: 100%;
  padding: 0px;

}

input{
  background: transparent;
  height: 100%;
  outline: 0px;
  border: 0px;
  padding:0px;
  margin:0px;
  text-align: center;
  width: 100%;
  font-size: inherit;
color: transparent;
cursor: auto!important;
text-shadow: 0 0 0 rgba(255,255,255,0.5);

}
input:focus{
  color: white;

}

input::placeholder{
  color: rgba(255,255,255,0.5);
}

.item-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.checkBox{
  width: 30px;
  height:30px;
  border: 1px solid black;
position: relative;
overflow: hidden;
transition: 0.25s ease;

}

.checkBox:hover{
  border-color: white;
}

.checkBox::before{
  transition: 0.25s ease;
  padding: 0px;
  margin: 0px;
  content: "";
  position: absolute;
  left:0;
  top:-100%;
  width: 30px;
  height:30px;
  background: #7B2D26;/*#7B2D26;*/
  border-radius: 0 0 50% 50%;
}

.checkBox:hover::before{
  height: 200%;
  top:0;
}

.listWrapper{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.emptyList
{
  width: 100%;
  height: 100%;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list{
  width: 700px;
  background: white;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
  height: 500px;
  overflow-y: auto;
  -ms-overflow-style: none;
overflow: -moz-scrollbars-none;
transition: 0.25s ease;
}


.listItem{
  width: 100%;
  font-size: 1.5em;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 10px;
  animation: fadeIn 0.25s ease;

}


@keyframes fadeIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.listInput{
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
  width: 100%;
  font-size: 1.5em;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}


.listInput:focus{
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);

}

.listItemRemove{
  background: transparent;
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.listCleanUp
{
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5em;
  cursor: pointer;
  color: white;
}

.listItemCategory{
  border:2px solid rgba(0,0,0,0.2);
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.listItemDate{
  font-size: 0.5em;
}

.listItemText{
  margin-left: 10px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.hidden { display:none; }
@media (hover:hover){
  .listItemText:hover{
    cursor: context-menu;
  }
  .listItemRemove:hover{
    color: white;
      cursor: pointer;
  }
}
@media only screen
and (min-width : 375px)
and (max-width : 812px){
.list{
  width: 100%;
  height: 100%;
}
.listWrapper{
  height: 100%;
}

.listCleanUp{
  display: none;
}
}
