@import './AppVariables.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto');
::-webkit-scrollbar {
    display: none;
}
*{
  padding: 0px;
  margin: 0px;
}
.app {
  position: absolute;
  top:0%;
  left:0%;
  padding:0px;
  margin:0px;
  background: #7B2D26;
  color: black;
  width: 100%;
  height:100%;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;


}
.fill-w{
  width: 100%;
}

input{
  font-family: 'Roboto', sans-serif;
  background: transparent;
  height: 100%;
  outline: 0px;
  border: 0px;
  padding:0px;
  margin:0px;
  text-align: center;
  width: 100%;
  font-size: inherit;
  color: transparent;
  cursor: auto!important;
  text-shadow: 0 0 0 rgba(255,255,255,0.5);

}
input:focus{
  color: white;

}

input::placeholder{
  color: rgba(255,255,255,0.5);
}

.hidden { display:none; }


@include breakpoint(tablet) {

}
